<% include ../partials/header %>
<div class="container">
	<h1 style="text-align:center">
		Edit comments
	</h1>
	
	<div style="width:30%; margin: 30px auto;">
		<form action="/sechands/<%= sechand_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
			<div class="form-group">
				<input type="text" name="comment[text]" value="<%= comment.text %>" class="form-control">	
			</div>						
			<div class="form-group">
				<button class="btn btn-primary btn-block">
			Submit!!!
			</button>
			</div>
			<div class="form-group">
				<a href="/sechands">Go to back</a>
			</div>
		</form>	
	</div>
</div>


<% include ../partials/footer %>