<% include ../partials/header %>
<div class="container">
	<h1 style="text-align:center">
		Post Your Item
	</h1>
	
	<div style="width:30%; margin: 30px auto;">
		<form action="/sechands" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<input type="text" name="sechand[name]" placeholder="name" class="form-control" required>	
			</div>
			<div class="form-group">
				<input type="number" name="sechand[price]" placeholder="price" min="0.01" step="0.01" class="form-control" required>	
			</div>
			<div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
            </div>
			<div class="form-group">
				<input type="text" name="sechand[description]" placeholder="description" class="form-control">
			</div>			
			<div class="form-group">
				<button class="btn btn-primary btn-block">
			Submit!!!
			</button>
			</div>
			<div class="form-group">
				<a href="/sechands">Go to back</a>
			</div>
		</form>	
	</div>
</div>


<% include ../partials/footer %>